@model G7.Models.UsuarioObj
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        margin-top: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #fff;
        border-bottom: none;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 20px;
    }

    .card-body {
        padding: 30px;
    }

    .form-group label {
        font-weight: 500;
    }

    .form-control:focus {
        border-color: #6c757d;
        box-shadow: none;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    .btn-secondary {
        color: #6c757d;
        background-color: transparent;
        border-color: transparent;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
    }

        .btn-secondary:hover {
            background-color: #f8f9fa;
        }

    .text-muted {
        font-size: 0.9rem;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Iniciar sesión
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ValidarAcceso", "Home", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo electrónico</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingresa tu correo electrónico", @required = "required", @autofocus = "autofocus", type = "email", id = "email-input" })
                            <div id="EmailError" class="invalid-feedback"></div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control", type = "password", @placeholder = "Ingresa tu contraseña", @required = "required", id = "password-input" })
                            <div id="ContrasennaError" class="invalid-feedback"></div>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-primary" id="ingresar-button" disabled>Ingresar</button>
                        </div>


                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#Email').blur(function () {
                                    if ($(this).val().trim() == '') {
                                        $(this).addClass('is-invalid');
                                        $('#EmailError').text('Este campo es obligatorio').show();
                                    } else {
                                        $(this).removeClass('is-invalid');
                                        $('#EmailError').hide();
                                    }
                                });
                            });
                            $(document).ready(function () {
                                $('#Contrasenna').blur(function () {
                                    if ($(this).val().trim() == '') {
                                        $(this).addClass('is-invalid');
                                        $('#ContrasennaeError').text('Este campo es obligatorio').show();
                                    } else {
                                        $(this).removeClass('is-invalid');
                                        $('#ContrasennaeError').hide();
                                    }
                                });
                            });
                        </script>

                        <script>
                            const emailInput = document.getElementById('email-input');
                            const passwordInput = document.getElementById('password-input');
                            const ingresarButton = document.getElementById('ingresar-button');

                            function validarCampos() {
                                if (emailInput.value && passwordInput.value) {
                                    ingresarButton.disabled = false;
                                } else {
                                    ingresarButton.disabled = true;
                                }
                            }

                            emailInput.addEventListener('input', validarCampos);
                            passwordInput.addEventListener('input', validarCampos);
                        </script>

                    }
                    <hr>
                    <p class="text-muted text-center mb-0">¿No tienes una cuenta? <a href="@Url.Action("PrimerRegistro", "Usuario")" class="btn btn-secondary">Crear cuenta</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
